<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo"><a href="/"><img src="/public/img/logo.png"></a></div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="/login">Account</a></li>
                    <li><form id="logOutBtn" action="/logout?_method=DELETE" method="POST"><a href="#" onclick="document.getElementById('logOutBtn').submit();"> LogOut </a></form></li>
                    <li><div class="fad fa-shopping-cart"></div><span class="cart-nm">0</span></li>
                </ul>
            </nav>   
        </div>
    </div>
</div>