<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>DZstore</title>
    <!-- font Awesome -->
    <link defer='defer' href='https://kit-pro.fontawesome.com/releases/latest/css/pro.min.css' rel='stylesheet'/>
    <link defer='defer' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- body %>
</body>
</html>