<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo"><img src="images/logo.png" width="250px"></div>
            <nav>
                <ul>
                    <li><a href="">Home</li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Account</a></li>
                    <i><div class="fad fa-shopping-cart"><span class="cart-nm">1</span></div></i>
                </ul>
            </nav>   
        </div>
        <div class="row">
            <div class="col-1">
                <img src="images/image-1.png">
            </div>
            <div class="col-1">
                <h1>Welcome! Shop Now:<br>DZstore</h1>
                <P>His father passed away when he was 20: Cristiano’s father, Jose Dinis Aveiro, unfortunately passed away at the age of 52 due to alcoholism. As a result, the Real Madrid star does not take alcohol.</P>
                <a href="" class="btn"> Read Now </a>
            </div>
        </div>
    </div>
</div>