<div class="row">
    <div class="col-1">
         <img src="./public/img/image-1.png">
    </div>
    <div class="col-1">
        <h1>Welcome! Shop Now:<br>DZstore</h1>
        <P>His father passed away when he was 20: Cristiano’s father, Jose Dinis Aveiro, unfortunately passed away at the age of 52 due to alcoholism. As a result, the Real Madrid star does not take alcohol.</P>
        <a href="/login" class="btn"> Join Now </a>
    </div>
 </div>