<div class="login-box">
    <h1>Register</h1>
    <div class="form-box">
        <form action="/register" method="POST">
                <div class="form-in"><input  type="text" id="name" name="name" required/> <label class="label-name" for="name"><span class="content-dt">Full Name</span></label></div>
                <div class="form-in"><input type="email" id="email" name="email" required/><label class="label-name" for="email"><span class="content-dt">E-mail</span></label></div>     
                <div class="form-in"><input type="password" id="password" name="password" required/><label class="label-name" for="password"><span class="content-dt">Password</span></label></div>
            <button type="submit"> Register Now </button>
        </form>
        <div class="acc-pag">
        <p>If you have account You can login from here !</p>
        <a class="btn" href="/login"> I have account </a>
        </div>
    </div>
</div>