*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
footer{width: 100%;height: auto;align-items: center;background: #333333;box-shadow: 0px -4px 10px 0px rgb(0 0 0 / 51%);}
.desiner{text-align: center;padding: 20px;}
.desiner h2,.desiner h3, .desiner-h3{display: inline-block;font-size: 20px;color: #fff;font-weight: 600;}
.desiner-h3:hover{color: #ffb100;}
.desiner p{font-size: 15px;color: #fff;font-weight: 400;}

.header{
    background: #ffffff;
    box-shadow: 0px 4px 4px -4px rgb(0 0 0 / 51%);
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 70;
    display: block;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 5px;
    height: 100%;
}
nav{
    text-align: right;
    flex: 1;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    position: relative;
}
.main{padding-bottom: 50px;flex-grow: 1}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
}
div{clear: both;}
a{
    text-decoration: none;
    color: #555555;
}
a:hover{
    color: #111111;
    cursor: pointer;
}
p{
    font-size: 20px;
    color: #444444;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
    height: 100%;
}
.col{margin-top: 16px;display: flex;width: 48%;}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
}
.col-1 img{
    max-width: 100%;
    float: left;
}
.col-1 h1{
    font-size: 20px;
    margin: 0 20px;
    color: #333333;
    max-height: 60px;
    overflow: hidden;
}
.col-1 p{
    margin: 0 20px;
    font-size: 12px;
    max-height: 90px;
    overflow: hidden;
}
.btn{
    display: inline-block;
    background: transparent;
    padding: 10px 20px;
    border: 2px solid #333333;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background: #333333;
    color: #ffffff;
}

.btn::after{
    content:'\22D9';
    float: right;
}
.col-1 .btn{padding: 5px 10px;}
.logo{width: 250px;height: 50px;}
.logo img{width: 100%;height: 100%;}
.cart-nm{padding: 0 6px;background: #333333;border-radius: 20px;border: 1px solid #000000;color: #fff;
    display: block;
    position: absolute;
    right: -3px;
    top: -3px;
    font-size: 12px;}
/* ---- Login Form --- */
.login-box{
    background: linear-gradient(45deg, white, #b1680e26);
    border-top: 3px solid #ffb100;
    border-bottom: 3px solid #ffb100;
    padding: 30px;
}
.login-box h1{font-size: 30px;color: #ffb100;border-bottom: 1px solid #ffb100;margin-bottom: 30px;display: inline-flex;}
.form-box{width: 300px;overflow: hidden;}
.form-box::before{width: 1px;background: #eeeeee;}
.form-in{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 20px;
}
.form-in input,.form-in textarea,.form-in select{border: none;outline: none;background: none;width: 100%;height: 100%;padding-top: 10px;color: #555555;font-size: 15px;}
.form-in label{position: absolute;bottom: 0;left: 0;width: 100%;height: 100%;pointer-events: none;border-bottom: 1px solid #333333;}
.form-in label::after{content: '';position: absolute;bottom: -1px;left: 0;;width: 100%;height: 100%;border-bottom: 3px solid #ffb100;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.content-dt{position: absolute;bottom: 5px;left: 0px;transition: all 0.3s ease;}
.form-in.date input + .label-name .content-dt {color: #555555;transform: translateY(-100%);font-size: 12px;}
.form-in input:focus + .label-name .content-dt, .form-in input:valid + .label-name .content-dt,.form-in.date input:valid + .label-name .content-dt {
    transform: translateY(-100%);
    font-size: 12px;
    color: #ffb100;
}
.form-in input:focus + label::after, .form-in input:valid + label::after{
    transform: translateX(0);
}
.acc-pag{width: 100%;margin-top: 20px;position: relative;text-align: center;}
.acc-pag::before{content: '';position: absolute;top: 0;left: 50%;width: 90%;height: 1px;background: #cccccc;
    transform: translateY(-100%);
    transition: all 0.3s ease;transform: translate(-50%,0);}
    .acc-pag p{font-size: 15px;padding: 5px;}
/* ---- Button --- */ 
button{cursor: pointer;background: none;font-size: 18px;font-weight: 600;text-align:center;color: #ffb100;border:1px solid #ffb100;width: 90%;height: 40px;outline: none;position: relative;left: 50%;transform: translate(-50%,0);}
button::after{
    content:'\22D9';
}
button:hover{background: #ffb100;color: #fff;transition: 0.2s ease;outline: 3px solid #f0740046;}
button:active{background: #ffb30070;color: #ffffff;}
.error{padding: 5px 10px; border: 1px solid #f34c4c;background: #f34c4c93;font-family: sans-serif;color: #fff;text-align: center;margin-bottom: 20px;}